<!-- list of classes and new/edit class -->
<div class="container-fluid">
    <!--ko ifnot: showclazz()-->
    <div class="list-group list-full-with" data-bind="foreach: clazzes">
        <div class="list-group-item" >
            <div class="row" data-bind="click: $parent.openclazz">
                <div class="col-xs-2">
                    <input type="checkbox" />
                </div>
                <div class="col-xs-2">
                    <span data-bind="text: Name"></span>
                </div>
                <div class="col-xs-2">
                    <span data-bind="text: ClassNumber"></span>
                </div>
                <div class="col-xs-3">
                    <span data-bind="text: Start().getFullYear() + ' 年 ' + Start().getMonth() + ' 月 ' + Start().getDate() + ' 日' "></span>
                </div>
                <div class="col-xs-3">
                    <span data-bind="text: End().getFullYear() + ' 年 ' + End().getMonth() + ' 月 ' + End().getDate() + ' 日'"></span>
                </div>

            </div>
        </div>
</div>
    <div class="row">
        <div class="col-xs-4">
            <button id="" name="singlebutton" class="btn btn-primary btn-block" data-bind="click:newclazz">新添课程</button>
        </div>
        <div class="col-xs-4">
            <button id="" name="singlebutton" class="btn btn-primary btn-block" data-bind="click:editclazz, disable: clazz() == null">编辑课程</button>
        </div>
        <div class="col-xs-4">
            <button id="" name="singlebutton" class="btn btn-primary btn-block" data-bind="click:delclazz, disable: clazz() == null">删除课程</button>
        </div>
    </div>
    <!--/ko-->
    <!--ko if: showclazz()-->
    <div class="container-fluid">
        <div class="form-group">
            <label>课程名称：</label>
            <input data-bind="value: clazz().Name" class="form-control input-lg">
            <br />
            <br />
            <label class="control-label">
                课程描述：
                <textarea data-bind="value: clazz().Description" class="form-control input-lg"></textarea>
            </label>
            <br />
            <br />
            <label class="control-label">
                课程开始时间：
                <input data-bind="value: clazz().Start" type="date" />
            </label>
            <label class="control-label">
                课程结束时间：
                <input data-bind="value: clazz().End" type="date" />
            </label>
            <br />
            <br />
            <div class="form-group">
                <label class="control-label">
                    授课老师：
                </label>
                <ul style="list-style-type:none" data-bind="foreach:teachers">
                    <li>
                        <input type="checkbox" data-bind="attr: {value:Id()}, checked:$parent.selectedUsers">
                        <span data-bind="text: Name"></span>
                    </li>
                </ul>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">
                    参与学生：
                </label>
                <ul style="list-style-type:none" data-bind="foreach:students">
                    <li>
                        <input type="checkbox" data-bind="attr: {value:Id()}, checked:$parent.selectedUsers">
                        <span data-bind="text: Name"></span>
                    </li>
                </ul>
            </div>
            <div>
                <button id="save" name="singlebutton" class="btn btn-primary glyphicon glyphicon-send" data-bind="click:save">&nbsp;保存并返回</button>
                <button id="cancel" name="singlebutton" class="btn btn-primary glyphicon glyphicon-trash" data-bind="click:backtolist">&nbsp;取消</button>
            </div>
        </div>
    </div>
    <!--/ko-->
</div>
