
<div class="container-fluid">

    <form>

        <div class="form-group">
            <label>发送给: </label>
            <div class="form-group">
                <select id='targettype' class="form-control dropdown" data-observable="DepartmentId" data-bind="options: targets,
                                                                                                            value: msg().Target,
                                                                                                            optionsCaption: '请选择...'"></select>
            </div>
            <div class="form-group">
                <select id='itemtype' class="form-control dropdown" data-observable="DepartmentId" data-bind="options: targetDetails,
                                                                                                            optionsText: 'Name',
                                                                                                            value: target,
                                                                                                            optionsCaption: '请选择...'"></select>
            </div>
            <br />
            <label class="control-label">
                日期: <span data-bind="text:today()" />
            </label>
            <br />
            <br />
            <label class="control-label">
                优先级高: <input data-bind="checked: msg().Priority" type="checkbox">
            </label>
            <br />
            <br />
            <label class="control-label">
                主题:
            </label>
            <input data-bind="value: msg().Title" class="form-control input-lg">
            <br />
            <br />
            <label class="control-label">
                内容:
            </label>
            <textarea rows="3" data-bind="wysiwyg: msg().Content" class="form-control input-lg"></textarea>
        </div>

        <div class="row">
            <div class="col-xs-4">
                <button id="send" name="singlebutton" class="btn btn-primary btn-block" data-bind="click:send">&nbsp;发送</button>
            </div>
            <div class="col-xs-4">
                <button id="send" name="singlebutton" class="btn btn-primary btn-block" data-bind="click:save">&nbsp;保存草稿</button>
            </div>
            <div class="col-xs-4">
                <button id="cancel" name="singlebutton" class="btn btn-primary btn-block" data-bind="click:back">&nbsp;取消</button>
            </div>
        </div>
    </form>

</div>

