<div class="container-fluid">
    <div class="list-group list-full-with" style="font-size:large">
        <div class="list-group-item">
            <div class="row" data-bind="click:">
                <div class="col-xs-12">
                    语言
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row" data-bind="click:">
                <div class="col-xs-12">
                    字体大小
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row" data-bind="click:">
                <div class="col-xs-12">
                    新消息
                </div>
            </div>
        </div>
    </div>
</div>