.mine-view {
	background: #F8F8F8;
}
.mine-info {
	height: 8.571em;
	background: url("../images/headbg.png");
	background-size: cover;
	color: #ffffff;
	text-align: center;
}
.mine-info .mine-head {
	display: inline-block;
	width: 2.7rem;
	height: 2.7rem;
	margin: .4rem auto .2rem;
	border-radius: 50%;
	border: solid 2px #ffffff;
	overflow: hidden;
}
.mine-info .mine-head > img {
	width: 100%;
	height: 100%;
	display: block;
}
.mine-info p {
	margin: 0;
	font-size: .6rem;
}
.mine-nav {
	margin-bottom: .3rem;
}
.mine-nav .item {
	color: #666;
	font-size: 0.7rem;
	border-color: #F2F2F2;
}
.mine-nav .item > .icon {
	font-size: 1rem;
}
.mine-nav .item.item-icon-right {
	padding-right: 2.2rem;
}
.mine-nav .item.item-icon-left {
	padding-left: 2.2rem;
}