
<div>
    <!-- list of messages -->
    <!--ko ifnot: announcement()-->
    <div class="list-group list-full-with" data-bind="foreach: announcements">
        <a class="list-group-item" href="#" data-bind="click: $parent.openmsg">
            <span class="announcement-item-title" data-bind="text: Title"></span>
            <span class="announcement-item-date" data-bind="text:CreateDate().toLocaleString()"></span>
        </a>
    </div>
    <!--/ko-->
    <!--ko if: announcement()-->
    <div class="container-fluid">
        <div data-bind="with:announcement()" class="col-xs-12">
            <span class="announcement-title" data-bind="text: Title"></span>
            <p class="announcement-date" data-bind="text: CreateDate().toLocaleString()"></p>
            <p class="announcement-content" data-bind="html: Content"></p>
        </div>
    </div>
    <div class="col-xs-12">

        <button id="Button1" name="singlebutton" class="btn btn-primary btn-block" data-bind="click: backtolist">返回</button>
    </div>

    <!--/ko-->
</div>