<div>
    <div class="list-group list-full-with" style="font-size:large">
        <div class="list-group-item">
            <div class="row">
                <div class="col-xs-3">
                    登录名
                </div>
                <div class="col-xs-9">
                    <h4 class="list-group-item-heading" data-bind="text: user().UserId" />
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row">
                <div class="col-xs-3">
                    本人姓名
                </div>
                <div class="col-xs-9">
                    <input class="list-group-item-heading form-control" data-bind="value: user().Name" />
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row">
                <div class="col-xs-3">
                    邮箱地址
                </div>
                <div class="col-xs-9">
                    <input class="list-group-item-heading form-control" data-bind="value: user().Email" />
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row">
                <div class="col-xs-3">
                    手机号码
                </div>
                <div class="col-xs-9">
                    <input class="list-group-item-heading form-control" data-bind="value: user().Phone" />
                </div>
            </div>
        </div>

        <br />
        <div class="row" >
            <div class="col-xs-6">
                <button id="save" name="singlebutton" class="btn btn-primary btn-block" data-bind="click:save" style="font-size:medium">保存</button>
            </div>
            <div class="col-xs-6">
                <button id="cancel" name="singlebutton" class="btn btn-primary btn-block" data-bind="click:back" style="font-size:medium">取消</button>
            </div>
        </div>
    </div>
</div>