
<div class="container-fluid">
    <br />
    <div class="form-group">
        <label>选择习题: </label>
        <!--允许多选几个习题-->
        <select id='user' class="form-control dropdown" data-observable="DepartmentId" data-bind="options: allexersizes(),
                                                                                                            optionsText:'Name',
                                                                                                            value:selectedexersizes,
                                                                                                            optionsCaption: '所有习题'"></select>
    </div>

    <div class="form-group">
        <label>选择班级: </label>
        <select id='user' class="form-control dropdown" data-observable="DepartmentId" data-bind="options: allclasses(),
                                                                                                            optionsText:'Name',
                                                                                                            value: selectedclass,
                                                                                                            optionsCaption: '选择班级'"></select>
    </div>
    <!--ko ifnot: selectclass()-->
    <!--允许多选几个学生-->
    <div class="form-group">
        <label>分配给学生: </label>
        <select id='exersize' class="form-control dropdown" data-observable="DepartmentId" data-bind="options: allstudents(),
                                                                                                            optionsText: 'Name',
                                                                                                            value: selectedstudents,
                                                                                                            optionsCaption: '所有学生'"></select>
    </div>
    <!--/ko-->
    <!--ko if: selectclass()-->
    <div class="form-group">
        <label class="control-label">
            参与学生：
        </label>
        <br/>
        <input type="checkbox" data-bind="checked:wholeclass"><label>全班同学</label>
        <ul style="list-style-type:none" data-bind="foreach:allstudents">
            <li>
                <input type="checkbox" data-bind="attr: {value:Id()}, checked:$parent.selectedstudents">
                <span data-bind="text: Name"></span>
            </li>
        </ul>
    </div>
    <!--/ko-->
    <div class="row">
        <div class="col-xs-6">
            <button class="btn btn-primary btn-block" data-bind="click:assign">&nbsp;分配</button>
        </div>
        <div class="col-xs-6">
            <button class="btn btn-primary btn-block" data-bind="click:back">&nbsp;返回</button>
        </div>
    </div>

</div>
