
<div class="container-fluid">

    <form>

        <div class="form-group">
            <label>选择班级: </label>
            <div class="form-group">
                <select id='targettype' class="form-control dropdown" data-observable="DepartmentId" data-bind="options: targets,
                                                                                                            optionsText: '班级',
                                                                                                            optionsCaption: '请选择...'"></select>
            </div>
            <div class="form-group">
                <select id='itemtype' class="form-control dropdown" data-observable="DepartmentId" data-bind="options: targetDetails,
                                                                                                            optionsText: '学生',
                                                                                                            value: target,
                                                                                                            optionsCaption: '请选择...'"></select>
            </div>
            <br />
            <!--ko ifnot: exercise()-->
            <div class="container-fluid">

                <div class="main" style="height:400px; overflow:auto">

                    <ul data-bind="foreach: exercises">
                        <li>
                            <a href="#" data-bind="text:Name, click: $parent.openexercise"></a>
                        </li>
                    </ul>

                </div>
            </div>
            <!--/ko-->
            <!--ko if: clazz()-->
            <label>习题名称: <span data-bind="text:exercise().Name"></span></label>
            <br />
            <br />
            <label class="control-label">
                题项: <input data-bind="text: isHighPriority" type="checkbox">
            </label>
            <br />
            <br />
            <label class="control-label">
                问题:
            </label>
            <input data-bind="value: msg().Title" class="form-control input-md">
            <br />
            <br />
            <label class="control-label">
                学生回答:
            </label>
            <textarea rows="3" data-bind="wysiwyg: msg().Content" class="form-control input-md"></textarea>
        </div>
        <!--/ko-->
        <div>
            <button id="send" name="singlebutton" class="btn btn-primary glyphicon glyphicon-send" data-bind="click:save2Word">&nbsp;保存为 Word </button>
            <button id="cancel" name="singlebutton" class="btn btn-primary glyphicon glyphicon-trash" data-bind="click:back">&nbsp;返回</button>
        </div>
    </form>

</div>