
<header class="navbar navbar-default navbar-fixed-top" >
    <button class="btn btn-link pull-left nav-back" id="goback" name="singlebutton" data-bind="click:back">
        <span class="glyphicon glyphicon-home"></span>
    </button>

    <span class="title" data-bind="text: title" style="font-size:x-large;font-weight:800"></span>

    <ul id="shortcut" class="nav pull-right" style="display:none">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-plus"></span></a>
            <ul class="dropdown-menu popup">
                <li><a href="#newMsg">新消息</a></li>
                <li><a href="#msgEx">习题管理</a></li>
                <li><a href="#uploadQA">QA管理</a></li>
                <li><a href="#msgclazz">课程管理</a></li>
                <li><a href="#report">习题报告</a></li>
            </ul>
        </li>
    </ul>
</header>
