<!--list of setting: Classes, UI language, login/logout, account info, etc. -->

<ion-content class="mine-view scroll-content has-header has-tabs" style="padding-bottom:50px;overflow:auto">
    <div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
        <br />
        <div class="list mine-nav">
            <a class="mine-info item item-icon-left item-icon-right" data-bind="click:myprofile">
                <i class="mine-head icon">
                    <img src="../../Content/images/introduce.jpg">
                </i>
                <span style="padding-left:1.2rem" data-bind="text:user().Name"></span>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" data-bind="click:myreport">
                <i class="icon ion-ios-book-outline"></i>
                <span>我的报告</span>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" data-bind="click: myclazz">
                <i class="icon ion-university"></i>
                <span>我的课程</span>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </div>
        <br />
        <div class="list mine-nav">
            <a class="mine-info item item-icon-left" data-bind="click:clearcache">
                <i class="icon ion-ios-trash-outline"></i>
                <span>清除缓存</span>     
                <span class="item-note" data-bind="text:cacheSize()">Kb</span>
            </a>
        </div>
        <br/>
        <div class="list mine-nav">
            <a class="item item-icon-left item-icon-right" data-bind="click: feedback">
                <i class="icon ion-compose"></i>
                <span>用户反馈</span>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="../../tou.html">
                <i class="icon ion-ios-information-outline"></i>
                <span>关于 Parrot</span>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </div>
        <br />
        <div class="list mine-nav">
            <a class="item text-center" data-bind="click:logout">
                <i class="icon ion-power"></i>
                <span>退出登录</span>
            </a>
        </div>
    </div>
</ion-content>