
<div>
    <!--ko ifnot: exersize()-->
    <div data-bind="foreach: exersizes" class="list-group list-full-with">
        <a href="#" data-bind="click: $parent.openexersize" class="list-group-item">
            <span class="list-group-item-heading" data-bind="text: Name"></span>
            <p style="font-size:small" data-bind="text:Description"></p>
        </a>
    </div>
    <!--/ko-->
    <!--ko if: exersize() -->
    <h2 style="background-color:#59c1e8;" data-bind="text:exersize().Name"></h2>
    <div class="panel panel-default" data-bind="foreach: exersize().Sections">
        <div class="panel-heading" style="background-color:#b8e0ee;font-size:18px">
            <span data-bind="text: Name"></span>
        </div>
        <div class="list-group" data-bind="foreach: Problems">
            <a class="list-group-item" href="#" data-bind="text: GeneralInfo, attr: { href: '#msgProb/' + Id() }"></a>
        </div>
    </div>
    <!--/ko-->
    <div class="row" style="padding-bottom:60px">
        <!--ko ifnot: exersize() -->
        <div class="col-xs-6">
            <button name="singlebutton" class="btn btn-primary btn-block" data-bind="click:newex">创建习题</button>
        </div>
        <div class="col-xs-6">
            <button name="singlebutton" class="btn btn-primary btn-block" data-bind="click:assignex">分配习题</button>
        </div>
        <!--/ko-->
        <!--ko if: exersize() -->
        <div class="col-xs-6">
            <button name="singlebutton" class="btn btn-primary btn-block" data-bind="click:editex">编辑习题</button>
        </div>
        <div class="col-xs-6">
            <button name="singlebutton" class="btn btn-primary btn-block" data-bind="click:backtolist">返回</button>
        </div>
        <!--/ko-->
    </div>

</div>


