<!-- list of classes and new/edit class -->
<ion-content class="mine-view scroll-content ionic-scroll has-header has-tabs">
    <!--ko ifnot: clazz()-->
    <br />
    <div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
        <div class="list mine-nav" data-bind="foreach:clazzes, click:openclazz">
            <div class="row item">
                <div class="col col-50">
                    <span data-bind="text: Name" />
                </div>

                <div class="col col-25" data-bind="text: Teacher().Name"></div>

                <!--ko if: state == "0" -->
                <div class="col col-25">
                    <button class="button button-small button-outline button-stable disabled">未批准</button>
                </div>
                <!--/ko-->
                <!--ko if: state == "1" -->
                <div class="col col-25">
                    <button class="button button-small button-outline button-balanced disabled">已加入</button>
                </div>
                <!--/ko-->
                <!--ko if: state == "2" -->
                <div class="col col-25">
                    <button class="button button-small button-outline button-stable disabled">等待批准</button>
                </div>
                <!--/ko-->
                <!--ko if: state == "-1" -->
                <div class="col col-25" >
                    <button class="button button-small button-ouline button-royal">申请加入</button>
                </div>
                <!--/ko-->
            </div>
        </div>

    </div>
    <!--/ko-->
    <!--ko if: clazz()-->
    <div class="list mine-nav" data-bind="with: clazz()">
        课程：

    </div>
    <!--/ko-->
</ion-content>