<ion-content class="mine-view scroll-content ionic-scroll has-header has-tabs">
    <i class="list mine-nav">
        <a class="item item-icon-left item-icon-right">

            <i class="item-content">登录名:</i>

            <span class="item-note" data-bind="text: user().UserId()"></span>

        </a>
        <a class="item item-icon-left item-icon-right">

            <i class="item-content">显示名称:</i>
            <span class="item-note" data-bind="text: user().Name()" />

        </a>
        <a class="item item-icon-left item-icon-right">

            <i class="item-content">邮箱地址</i>

            <span class="item-note" data-bind="text: user().Email()"></span>
        </a>
        <a class="item item-icon-left item-icon-right">

            <i class="item-content">手机号码</i>

            <span class="item-note" data-bind="text: user().Phone()"></span>

        </a>
    </i>
    <br />
    <div class="list mine-nav">
        <div class="button-bar">
            <a id="save" class="button button-block button-small button-positive" data-bind="click:editprofile">编辑</a>

            <a id="cancel" class="button button-block button-small button-calm" data-bind="click:chgpwd">修改密码</a>

        </div>
    </div>

</ion-content>
