<div>
    <div class="list-group list-full-with">
        <div class="list-group-item">
            <div class="row" data-bind="click:editid">
                <div class="col-xs-4">
                    登录名
                </div>
                <div class="col-xs-5">
                    <h4 class="list-group-item-heading" data-bind="text: user().UserId()"></h4>
                </div>
                <div class="col-xs-3">
                    <span class="glyphicon glyphicon-menu-right" />
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row" data-bind="click:editname">
                <div class="col-xs-4">
                    本人姓名
                </div>
                <div class="col-xs-5">
                    <h4 class="list-group-item-heading" data-bind="text: user().Name()"></h4>
                </div>
                <div class="col-xs-3">
                    <span class="glyphicon glyphicon-menu-right" />
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row" data-bind="click:editemail">
                <div class="col-xs-4">
                    邮箱地址
                </div>
                <div class="col-xs-5">
                    <h4 class="list-group-item-heading" data-bind="text: user().Email()"></h4>
                </div>
                <div class="col-xs-3">
                    <span class="glyphicon glyphicon-menu-right" />
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row" data-bind="click:editmobile">
                <div class="col-xs-4">
                    手机号码
                </div>
                <div class="col-xs-5">
                    <h4 class="list-group-item-heading" data-bind="text: user().Phone()"></h4>
                </div>
                <div class="col-xs-3">
                    <span class="glyphicon glyphicon-menu-right" />
                </div>
            </div>
        </div>

        <br/>
        <button class="btn btn-primary btn-block" data-bind="click:logout">退出登录</button>
    </div>
</div>