
<ion-content class="scroll-content ionic-scroll has-header has-tabs">
    <!-- ko ifnot: exersize()-->
    <div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
        <div class="list mine-nav" data-bind="foreach: categories">
            <div class="item item-divider">
                <span data-bind="text:label"></span>
            </div>

            <!-- ko if: value == 0-->
            <div data-bind="visible:$parent.ex_alter().length > 0,foreach:$parent.ex_alter()">
                <a class="item item-icon-left item-icon-right" data-bind="click:$root.openex" href="#">
                    <span data-bind="text: Name()"></span>
                    <i class="icon ion-ios-arrow-right pull-right"></i>
                </a>
            </div>
            <!--/ko-->
            <!-- ko if: value == 1-->
            <div data-bind="visible:$parent.ex_reflets().length > 0,foreach:$parent.ex_reflets()">
                <a class="item item-icon-left item-icon-right" data-bind="click:$root.openex">
                    <span data-bind="text: Name()"></span>
                    <i class="icon ion-ios-arrow-right pull-right"></i>
                </a>
                <!--/ko-->
            </div>
            <!--/ko-->

        </div>
    </div>
    <!--/ko-->
    <!-- ko if: exersize()-->
    <div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
        <div data-bind="with:exersize()">
            <div class="list mine-nav" data-bind="foreach:Sections">
                <h2 data-bind="text:Name()"></h2>
                <br />
                <div class="item" href="#" data-bind="foreach:Problems">
                    <span data-bind="text:GeneralInfo()"></span>
                    <div data-bind="widget: { kind: 'media', item: $data}"></div>
                    <div class="item" href="#" data-bind="foreach:Quizzes">
                        <div data-bind="widget: { kind: $root.quiztypename(QuizType()), item: $data, isreporting:true, isediting:null, uid:$root.user().Id()}"></div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
    <div class="scroll-bar scroll-bar-v">
        <div class="scroll-bar-indicator scroll-bar-fade-out" style="transform: translate3d(0px, 0px, 0px) scaleY(1); height: 0px; transform-origin: center top 0px;"></div>
    </div>
    <!--/ko-->
</ion-content>


<!--div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
    <div class="list mine-nav">
        <label class="announcement-title">选择习题类型: </label>
        <select id='exersize' class="form-control dropdown" data-observable="DepartmentId" data-bind="options: categories,
                                                                                                        optionsText: 'label',
                                                                                                        optionsValue: 'value',
                                                                                                        value: cat,
                                                                                                        optionsCaption: '请选择...'"></select>

    </div>
    <div class="list mine-nav">
        <label class="announcement-title">选择已递交的习题: </label>
        <select id='exersize' class="form-control dropdown" data-observable="DepartmentId" data-bind="options: exersizes(),
                                                                                                        optionsText: function(item) {
                                                                                                            if (item.Description() != null)
                                                                                                                return item.Name() + ' - ' + item.Description()
                                                                                                            else
                                                                                                                return item.Name()
                                                                                                        },
                                                                                                        value: ex,
                                                                                                        optionsCaption: '请选择...'"></select>
    </div>
</!--div>-->
