
<ion-content class="container-fluid scroll-content has-header has-tabs" style="padding-bottom:60px; overflow:auto">
    <!-- ko ifnot: exersize()-->
    <div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
        <div class="list list-inset" data-bind="foreach: categories">
            <!-- ko if: value == 0-->
            <div class="item item-divider row">
                <i>
                    <img src="../../Content/images/alter-ego.jpg" />
                </i>
                <div class="col col-center">
                    <h3>Alter Ego+ 习题</h3>
                </div>
            </div>
            <div data-bind="visible:$parent.ex_alter().length > 0,foreach:$parent.ex_alter()">
                <a class="item item-icon-right" data-bind="click:$root.openex" href="#">
                    <h3 data-bind="text: Name()"></h3>
                    <i class="icon ion-ios-arrow-right pull-right"></i>
                </a>
            </div>
            <!--/ko-->
            <!-- ko if: value == 1-->
            <div class="item item-divider row">
                <i>
                    <img src="../../Content/images/reflets.jpg" />
                </i>
                <div class="col col-center">
                    <h3 data-bind="text:label"></h3>
                </div>
            </div>
            <div data-bind="visible:$parent.ex_reflets().length > 0,foreach:$parent.ex_reflets()">
                <a class="item item-icon-right" data-bind="click:$root.openex">
                    <h3 data-bind="text: Name()"></h3>
                    <i class="icon ion-ios-arrow-right pull-right"></i>
                </a>
                <!--/ko-->
            </div>
            <!--/ko-->
        </div>
    </div>
    <!--/ko-->
    <!-- ko if: exersize()-->
    <div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
        <div class="list mine-nav" data-bind="with:exersize()">
            <br />
            <h1 class="title" data-bind="text:Name()"></h1>
            <div data-bind="foreach:Sections">
                <a class="item item-divider">
                    <h3 data-bind="text:Name()"></h3>
                </a>

                <a class="item" data-bind="foreach:Problems">
                    <span data-bind="text:GeneralInfo()"></span>
                    <div data-bind="widget: { kind: 'media', item: $data}"></div>
                    <div class="item" data-bind="foreach:Quizzes">
                        <div data-bind="widget: { kind: $root.quiztypename(QuizType()), item: $data, isreporting:true, isediting:null, uid:$root.user().Id()}"></div>
                        <br />
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!--/ko-->
</ion-content>


<!--div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
    <div class="list mine-nav">
        <label class="announcement-title">选择习题类型: </label>
        <select id='exersize' class="form-control dropdown" data-observable="DepartmentId" data-bind="options: categories,
                                                                                                        optionsText: 'label',
                                                                                                        optionsValue: 'value',
                                                                                                        value: cat,
                                                                                                        optionsCaption: '请选择...'"></select>

    </div>
    <div class="list mine-nav">
        <label class="announcement-title">选择已递交的习题: </label>
        <select id='exersize' class="form-control dropdown" data-observable="DepartmentId" data-bind="options: exersizes(),
                                                                                                        optionsText: function(item) {
                                                                                                            if (item.Description() != null)
                                                                                                                return item.Name() + ' - ' + item.Description()
                                                                                                            else
                                                                                                                return item.Name()
                                                                                                        },
                                                                                                        value: ex,
                                                                                                        optionsCaption: '请选择...'"></select>
    </div>
</!--div>-->
