<div class="container-fluid">

    <form>

        <div class="form-group">
            <label>课程名称：</label>
            <input data-bind="value: clazz().Name" class="form-control input-md">
            <br />
            <br />
            <label class="control-label">
                课程描述:
            </label>
            <textarea rows="3" data-bind="value: clazz().Description" class="form-control input-md"></textarea>
            <label class="control-label">
                课程时间:
            </label>
            <textarea rows="3" data-bind="value: msg().Content" class="form-control input-md"></textarea>

            <label class="control-label">
                授课老师：
            </label>

            <label class="control-label">
                参与学生：
            </label>
        </div>

        <div>
            <button id="send" name="singlebutton" class="btn btn-primary glyphicon glyphicon-send" data-bind="click:save">&nbsp;保存</button>
            <button id="cancel" name="singlebutton" class="btn btn-primary glyphicon glyphicon-trash" data-bind="click:back">&nbsp;取消</button>
        </div>
    </form>

</div>