
<div class="container main">

    <form>
        
        <div class="form-group" data-bind="with:msg">
            <label>发送给: </label>
            <input id="target" list="classes" data-bind="value:Target" required="required">
            <datalist id="classes" data-bind="foreach: $root.classes">
                <option data-bind="text: Name"></option>
            </datalist>
            <br />
            <label>Date: <span data-bind="text:CreateDate"></span></label>
            <br/>
            <label class="control-label">
                主题:
                <input data-bind="value: Title" class="form-control input-md">
            </label>
            <br />
            <label class="control-label" >
                内容:
                <input data-bind="value: Content" class="form-control input-md">
            </label>
        </div>

        <div class="main">
            <button id="send" name="singlebutton" class="btn btn-primary" data-bind="click:send">Send</button>
            <button id="cancel" name="singlebutton" class="btn btn-primary" data-bind="click:back">Cancel</button>
        </div>
    </form>

</div>

