
<ion-content class="mine-view scroll-content ionic-scroll has-header has-tabs">

    <i class="list mine-nav">
        <a class="item item-icon-left item-icon-right">
            <label class="control-label">登录名:</label>

            <label class="control-label" data-bind="text: userid()" />
        </a>

        <a class="item item-icon-left item-icon-right">
            <label class="control-label">显示名称:</label>

            <label class="control-label" data-bind="text: username" />

        </a>
    </i>
    <br/>
    <i class="list mine-nav">
        <a class="item item-icon-left item-icon-right">
            <label class="control-label" for="password">当前密码:</label>

            <input id="password" name="password" type="password" data-bind="value: oldpassword" placeholder="至少 6 个字符" class="form-control input-lg">

        </a>
        <a class="item item-icon-left item-icon-right">
            <label class="control-label" for="password">新密码:</label>

            <input id="password" name="password" type="password" data-bind="value: password" placeholder="至少 6 个字符" class="form-control input-lg">

        </a>
        <!-- Password input-->
        <a class="item item-icon-left item-icon-right">
            <label class="control-label" for="password">确认新密码:</label>

            <input id="password1" name="textinput" type="password" data-bind="value: password1" placeholder="确认新密码" class="form-control input-lg">

        </a>
    </i>

    <div class="list mine-nav">
        <div class="button-bar">
            <a id="savepwd" name="singlebutton" class="button button-block button-positive" data-bind="click: savepwd">保存</a>

            <a id="cancel" name="singlebutton" class="button button-block button-calm" data-bind="click: back">取消</a>

        </div>
    </div>
</ion-content>
