<div style="padding:30px;margin:0 auto;width:300px">
    <div>
        <!-- ko if: problem()-->
        <h4 data-bind="text:problem().GeneralInfo"></h4>
        <audio controls data-bind="attr: {src: problem().Media().Content}" />
        <ul data-bind="foreach: problem().Quizzes">
            <li>
                
                <div data-bind="widget: { kind: type(), item: $data}"></div>
            </li>
        </ul>
        <div id="buttons">
            <button id="" name="singlebutton" class="btn btn-success" data-bind="click:submitanswer">Submit</button>
            <button id="" name="singlebutton" class="btn btn-primary" data-bind="click:backtolist">Back</button>
        </div>
        <!-- /ko-->
    </div>
</div>
