
<div style="padding:50px;margin:0 auto;width:500px">
    <div>
        <!-- ko if: problem()-->
        <h4 data-bind="text:problem().GeneralInfo"></h4>
        <!-- ko if: problem().Media() && problem().Media().Type() == 'mp3'-->
        <br>
        <audio controls data-bind="attr: {src: problem().Media().Content}" />
        <br />
        <br />
        <!-- /ko-->
        <!-- ko if: problem().Media() && problem().Media().Type() == 'txt'-->
        <br />
        <label data-bind="html:problem().Media().Content()" />
        <br />
        <br />
        <!-- /ko-->
        <!--<ul data-bind="foreach: problem().Quizzes">-->
        <!--<li>-->
        <!-- ko with: currentQuiz-->
        <div data-bind="widget: { kind: $parent.quiztypename(QuizType()), item: $data, isediting:false,answer: $parent.answer}"></div>
        <!-- /ko -->
        <!--</li>-->
        <!--</ul>-->
        <div>
            <button id="backtolist" name="singlebutton" class="btn btn-primary" data-bind="click:backtolist">返回</button>
            <button id="previous" disabled="disabled" name="singlebutton" class="btn btn-primary glyphicon glyphicon-triangle-left" data-bind="click:previous">&nbsp;上一题</button>
            <button id="next" name="singlebutton" class="btn btn-primary glyphicon glyphicon-triangle-right" data-bind="click:next">&nbsp;下一题</button>
            <button id="submit" style="visibility:hidden" name="singlebutton" class="btn btn-primary glyphicon glyphicon-send" data-bind="click:submitanswer">&nbsp;递交</button>

        </div>
        <!-- /ko-->
    </div>
</div>
