
<div class="container-fluid">
    <div>
        <!-- ko if: problem()-->
        <h2 style="background-color:#add8e6">
            <span data-bind="text:problem().GeneralInfo"></span>
            <span>(共&nbsp;<span data-bind="text:total"></span>&nbsp;题)</span>
        </h2>

        <!-- ko if: problem().Media() && problem().Media().Type() == 'mp3'-->
        <br>
        <audio controls data-bind="attr: {src: problem().Media().Content}" />
        <br />
        <br />
        <!-- /ko-->
        <!-- ko if: problem().Media() && problem().Media().Type() == 'txt'-->
        <br />
        <label data-bind="html:problem().Media().Content()" />
        <br />
        <br />
        <!-- /ko-->
        <!-- ko if: problem().Media() && problem().Media().Type() == 'img'-->
        <br />
        <img cotrols data-bind="attr: {src: problem().Media().Content}" />
        <br />
        <br />
        <!-- /ko-->
        <!--<ul data-bind="foreach: problem().Quizzes">-->
        <!--<li>-->
        <!-- ko with: currentQuiz-->
        <div style="font-size:large" data-bind="widget: { kind: $parent.quiztypename(QuizType()), item: $data, isediting:false, answer: $parent.answer}"></div>
        <!-- /ko -->
        <!--</li>-->
        <!--</ul>-->
        <div class="row">
            <div class="col-xs-4">
                <button id="previous" name="singlebutton" class="btn btn-primary btn-block" data-bind="click:previous, disable: current() == 0">
                    上一题
                </button>
            </div>
            <div class="col-xs-4">
                <button id="submit" name="singlebutton" class="btn btn-primary btn-block" data-bind="click:submitanswer, enable: current() == total() -1">递交</button>
            </div>
            <div class="col-xs-4">
                <button id="next" name="singlebutton" class="btn btn-primary  btn-block" data-bind="click: next, disable: current() == total() -1">
                    下一题
                </button>
            </div>
        </div>
        <br />
        <!-- /ko-->
    </div>
</div>
