<!--show list of QA topics at high level -->

<ion-content class="mine-view scroll-content has-header has-tabs" style="padding-bottom:50px;overflow:auto">
    <div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
        <br />
        <div class="list mine-nav" data-bind="foreach: qa_cat">
            <a class="item item-icon-left item-icon-right" data-bind="attr: { href: '#questions/' + value }">
                <i>
                    <img data-bind="attr: {src: image}">
                </i>
                <span data-bind="text: label"></span>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <br />
        </div>
        <br />
    </div>
</ion-content>