    <!-- list of Q&A -->

<ion-content class="scroll-content ionic-scroll has-header has-tabs">
    <!--ko ifnot: question()-->
    <div class="list list-inset">
        <label class="item item-input">
            <input id="search" name="search" data-bind="value:search,valueUpdate: 'keyup'" placeholder="搜索关键字" type="search">
            <i class="js-inputclear" href="#" aria-controls="search" data-bind="click:clearsearch">            </i>
        </label>
    </div>

    <!--ko if: displayquestions().length > 0-->
    <div class="list mine-nav" data-bind="foreach: displayquestions">
        <a class="item item-icon-right" href="#" data-bind="click: $parent.openanswer">
            <span data-bind="text: QuestionDetail"></span>
            <i class="icon ion-ios-arrow-right"></i>
        </a>
    </div>
    <!--/ko-->
    <!--/ko-->
    <!--ko if: question()-->
    <div class="list mine-nav" data-bind="with:question()">
        <div class="item">
            <h2 class="title" data-bind="text:QuestionDetail"></h2>
        </div>
        <div class="item">
            <span class="item-content" data-bind="html:Answer"></span>
            <br />
        </div>
    </div>
    <!--/ko-->

</ion-content>