
<div class="container-fluid">
    <br />
    <div class="form-group">
        <label>选择学生: </label>
        <select id='user' class="form-control dropdown" data-observable="DepartmentId" data-bind="options: students(),
                                                                                                            optionsText:'Name',
                                                                                                            value:student,
                                                                                                            optionsCaption: '所有学生'"></select>
    </div>
    <div class="form-group">
        <label>选择习题: </label>
        <select id='exersize' class="form-control dropdown" data-observable="DepartmentId" data-bind="options: exersizes(),
                                                                                                            optionsText: 'Name',
                                                                                                            value: exersize,
                                                                                                            optionsCaption: '所有习题'"></select>
    </div>

    <!-- ko if: exersize()-->
    <br />
    <div data-bind="with:exersize">
        <div class="list-group list-full-with" data-bind="foreach:Sections">
            <span data-bind="text:Name()"></span>
            <br />
            <div class="list-group-item" href="#" data-bind="foreach:Problems">
                <span data-bind="text:GeneralInfo()"></span>
                <div data-bind="widget: { kind: 'media', item: $data}"></div>
                <div class="list-group-item" href="#" data-bind="foreach:Quizzes">
                    <span data-bind="html:Challenge()"></span> >
                </div>
            </div>
        </div>
    </div>
    <!--/ko-->

    <div class="row">
        <div class="col-xs-6">
            <button class="btn btn-primary btn-block" data-bind="click:displayanswer">&nbsp;查看</button>
        </div>
        <div class="col-xs-6">
            <button class="btn btn-primary btn-block" data-bind="click:back">&nbsp;返回</button>
        </div>
    </div>

</div>
