<!--list of setting: Classes, UI language, login/logout, account info, etc. -->
<!-- Classes setting-->

<div>
 
        <h4>
            Classes:
        </h4>

        <!--ko ifnot: Class()-->
        <ul id="classList" data-bind="foreach: Classes">

            <li>
                <a href="#" data-bind="text: Name, click: $parent.openClass" data-transition="slide">
                </a>
            </li>
        </ul>
        <!--/ko-->
        <!--ko if: Class()-->
        <div>
            <b>Name:</b>
            <span data-bind="text:Class().Name"></span>
            <br />
            <br />
            <b>ClassNumber:</b>
            <span data-bind="text:Class().ClassNumber"></span>
            <br />
            <br />
            <b>Description：</b>
            <span data-bind="text:Class().Description"></span>
        </div>
        <!--/ko-->
 


</div>