<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Parrot Student</title>
</head>

<body style="overflow:hidden">
    <ion-nav-bar data-bind="compose: { view: 'header'}"></ion-nav-bar>
    <section id="content" data-bind="router: { cacheViews: true }"></section>
    <!--ion-nav-view animation="slide-left-right" class="view-container" nav-view-transition="ios" nav-view-direction="none" nav-swipe data-bind="router: { cacheViews: true }"></!--ion-nav-view>-->
    <footer data-bind="compose: { view: 'footer' },visible: router.activeInstruction() && router.activeInstruction().config.nav > 0"></footer>
    <!--footer data-bind="compose: { view: 'footer' }" ></!--footer>
    <div class="loader" data-bind="css: { active: router.isNavigating }">
        <img src="Content/images/loader.gif" />
    </div>-->
</body>
</html>
