
<ion-content class="mine-view scroll-content ionic-scroll has-header has-tabs">
    <div class="error">
        <ul data-bind="foreach: errs">
            <li title="error messages:">
                <span data-bind="text: $data"></span>
            </li>
        </ul>
    </div>

    <div class="list mine-nav">
        <div class="item item-input">
            <p class="input-label">登录名</p>
            <input id="username" type="text" data-bind="value: username" required="required">
        </div>
        <div class="item item-input">
            <p class="input-label">密码</p>
            <input id="password" type="password" data-bind="value: password" required="required">
        </div>
    </div>

    <div class="padding">
        <button class="button button-block button-calm" data-bind="click: signin">登录</button>
        <br/>
        <a href="#signup" style="text-decoration:underline;">免费注册</a>
    </div>

</ion-content>
