
<ion-content class="mine-view scroll-content ionic-scroll has-header has-tabs">

    <!--div style="margin:0 auto;width:300px" class="front">-->
    <div class="error">
        <ul data-bind="foreach: errs">
            <li><span data-bind="text: $data"></span></li>
        </ul>
    </div>

    <!-- Text input-->
    <div class="list mine-nav">
        <div class="item item-input item-stacked-label" for="userid">
            <p class="input-label">登录名</p>
            <input id="userid" name="userid" type="text" placeholder="手机号码/邮箱" data-bind="value: userid">
        </div>

        <div class="item item-input item-stacked-label" for="username">
            <p class="input-label">姓名</p>
            <input id="username" name="username" type="text" placeholder="姓名" data-bind="value: username">
        </div>

        <div class="item item-input item-stacked-label" for="password">
            <p class="input-label">密码</p>
            <input id="password" name="password" type="password" data-bind="value: password" placeholder="至少 6 个字符" >
        </div>

        <div class="item item-input item-stacked-label" for="password1">
            <p class="input-label">确认密码</p>
            <input id="password1" name="textinput" type="password" data-bind="value: password2" placeholder="至少 6 个字符" >
        </div>
    </div>

    <div class="padding">

        <button id="signup" name="singlebutton" class="button button-small button-block button-calm" data-bind="click: signup">注册</button>
        <br />
        <br />
        <span>单击“注册”即表示您已阅读并同意<a href="../../tou.html"> 使用条款 </a></span>

    </div>

</ion-content>
