<div class="container">
    <div data-role="content" style="position: relative">
        <form>
            <div class="form-group">

                <ul data-bind="with: exercise">
                    <li>
                        <label class="control-label">Exercise name:</label>
                        <input data-bind="value: Name" class="form-control input-md">
                        <button id="section" name="singlebutton" class="btn btn-primary" data-bind="click:$root.addSection">Add section</button>
                        
                    </li>
                    <li>
                        <ul class="section" data-bind="foreach: Sections">
                            <li>
                                <label class="control-label">Section <span data-bind="text:$index"></span></label>
                                <input data-bind="value: Name" class="form-control input-md">
                                <button id="problem" name="singlebutton" class="btn btn-primary" data-bind="click:$root.addProblem">Add Problem</button>
                                <button id="section" name="singlebutton" class="btn btn-primary" data-bind="click:$root.deleteSection">Delete section</button>
                            </li>
                            <li>
                                <ul class="problem" data-bind="foreach: Problems">
                                    <li>
                                        <label class="control-label">Problem <span data-bind="text:$index() + '_' + $parentContext.$index()"></span></label>
                                        <input data-bind="value: GeneralInfo" class="form-control input-md">
                                        <button id="quiz" name="singlebutton" class="btn btn-primary" data-bind="click:$root.addQuiz">Add Quiz</button>
                                        <button id="section" name="singlebutton" class="btn btn-primary" data-bind="click:$root.deleteProblem">Delete Problem</button>
                                    </li>
                                    <li>
                                        <ul class="quiz" data-bind="foreach: Quizzes">
                                            <li>
                                                <label class="control-label">Quiz <span data-bind="text:$index() + '_' + $parentContext.$index() + '_' + $parentContext.$parentContext.$index()"></span></label>
                                                <input data-bind="value: Challenge" class="form-control input-md">
                                                <button id="section" name="singlebutton" class="btn btn-primary" data-bind="click:$root.deleteQuiz">Delete Quiz</button>
                                            </li>
                                            <li>
                                                <label class="control-label" for="username">Audio File</label>
                                                <input id="mp3file" name="textinput" type="file" class="form-control input-md" data-bind="event: { change: function() { $root.uploadimage($data,$element.files[0]) } }">
                                                <audio controls data-bind="attr: {src: QuizDetail}" />
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div id="buttons">
                    <button id="quiz" name="singlebutton" class="btn btn-success" data-bind="click:upload">Upload</button>
                </div>
            </div>
        </form>
    </div>
</div>
