<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="3.3.4" targetFramework="net45" />
  <package id="jQuery" version="2.1.3" targetFramework="net45" />
  <package id="knockoutjs" version="3.3.0" targetFramework="net45" />
  <package id="TinyMCE" version="4.1.9" targetFramework="net45" />
  <package id="TinyMCE.JQuery" version="4.1.9" targetFramework="net45" />
  <package id="tinymce-knockout-binding" version="1.1.1" targetFramework="net45" />
</packages>