<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angular.UI.UI-Router" version="0.2.18" targetFramework="net45" />
  <package id="angularjs" version="1.5.0" targetFramework="net45" />
  <package id="AngularJS.Animate" version="1.5.0" targetFramework="net45" />
  <package id="AngularJS.Core" version="1.5.0" targetFramework="net45" />
  <package id="AngularJS.Resource" version="1.5.0" targetFramework="net45" />
  <package id="AngularJS.Sanitize" version="1.5.0" targetFramework="net45" />
  <package id="bootstrap" version="4.0.0-alpha2" targetFramework="net45" />
  <package id="ionic" version="1.2.3" targetFramework="net45" />
  <package id="jQuery" version="2.2.1" targetFramework="net45" />
  <package id="knockoutjs" version="3.4.0" targetFramework="net45" />
  <package id="RequireJS" version="2.1.22" targetFramework="net45" />
  <package id="TinyMCE" version="4.3.7" targetFramework="net45" />
  <package id="TinyMCE.jQuery" version="4.3.7" targetFramework="net45" />
  <package id="tinymce-knockout-binding" version="1.1.1" targetFramework="net45" />
</packages>