.loader {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
}

.splash {
    text-align: center;
    margin: 10% 0 0 0;
}

.loader.active {
    visibility: visible;
}

.error
{
    color: red;
}

h1,h2 {
    text-align:center;
    font-family:sans-serif;
}

select {
    font-family:sans-serif;
}


#topPane {
height: 70px;
position: relative;
background-color:azure;
}

.centerContainer{
    float:left;
    position:absolute;
    left:50%;
}

#menuDropdown {
float: left;
position: relative;
left: -50%;
height: 2em;
margin-top: 1.2em;
line-height: 2em;
font-weight: normal;
font-size: 100%;
color: #000;
padding: 0 3em 0 1em;
font-weight: normal;
cursor: pointer;
}

.smoothButton {
    background-image:url(/Content/images/logo.png);
    box-shadow:0 2px 6px rgba(40,20,0,.6);
    white-space:nowrap;
}

.ui-content {

}

        .ui-radio .ui-btn, .ui-checkbox {
            font-weight: normal;
        }

        .ui-state-disabled {
            border: none;
			box-shadow: none;
			-webkit-box-shadow: none;
            opacity: 1;
            filter: Alpha(Opacity=100);
        }

        .list_read * {
            font-weight: normal;
        }

        .tab_content {
        	left: 1em;
        	right: 1em;
        	bottom: 0;
        	height: 100%;
        	position: absolute;
        	display: none;
        }

        .title-dropdown-icon {
            position: absolute;
            top: 0.5em;
            margin-left: 0.5em;
        }

        .ui-header .ui-title-align-left {
            margin-left: 5.5em;
            text-align: left;
        }

        .ui-page-theme-a .footer-transparent {
            background-color: transparent;
            border-color: transparent;
        }

		.ui-page-theme-a .footer-transparent a.ui-btn {
			margin: 0.5em;
			top: 0;
			right: 0;
		}

        a[data-transition].ui-icon-star:after {
            background-color: #ff8080;
        }

		#intruduceImage {
			position: absolute;
			left: 1em;
			right: 1em;
			bottom: 1em;
			background: -webkit-radial-gradient(
							center,
							ellipse cover,
							rgba(255,255,255,0) 40%,
							rgba(250,250,250,1) 80%
						),
						url(images/introduce.jpg);
		}

        .wrong_answer {
            color: #ff0000 !important;
            font-weight: 700 !important;
        }

		.wrong_answer.extra {
			text-decoration: line-through !important;
		}

        .fill_blank {
            text-decoration: underline;
        }


.navicon {
    font-size:1.5em;
}

.title {
    font-size:1.5em;
}

header {
    text-align: center;
    padding-top: 10px;
}

header .navbar {
    margin-bottom : 0;
}

footer {
    text-align: center;
}

footer .navbar {
    min-height: 20px;
}

.menucontainer {
    margin-left:auto;
    margin-right:auto;
    height: 50px;
    width: 400px;
}

.submenu {
    background-color: darkgray;
    color:white;
    top:0;
    left:0;
}

.submenu a {
    color:white;
}

#searchclear {
    top: 0;
    height: 14px;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
    float: right;
    margin-top: -23px;
    margin-right: 5px;
}

.main {
    margin-top:20px;
}

.withbackground {
    background: url('/Content/images/introduce.jpg');
    height:500px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.front {
    background: white;
    -webkit-box-shadow: 0px 5px 30px 15px rgba(49, 50, 50, 0.41);
    -moz-box-shadow:    0px 5px 30px 15px rgba(49, 50, 50, 0.41);
    box-shadow:         0px 5px 30px 15px rgba(49, 50, 50, 0.41);
}