body {
    padding-top: 50px;
    font-family: 'Microsoft YaHei UI', Arial, sans-serif,Alphonetic !important;
}

.loader {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
}

.splash {
    text-align: center;
    margin: 10% 0 0 0;
}

.loader.active {
    visibility: visible;
}

.error {
    margin: 10px 0;
}

    .error ul {
        color: red;
        padding: 0;
        margin: 0;
    }

        .error ul li {
            list-style: none;
            display: block;
            padding: 5px 10px;
            border: solid 1px #ff8080;
            border-radius: 5px;
            margin: 5px 0;
        }

h1, h2 {
    text-align: center;
    font-family: 'Microsoft YaHei UI', Arial, sans-serif !important;
}

h2 {
    font-size: 22px !important;
    font-weight: normal;
    color: #222;
    padding: 10px 15px;
}

td {
    border: 1px solid gray !important;
}

select {
    font-family: sans-serif;
}


#topPane {
    height: 70px;
    position: relative;
    background-color: azure;
}

.centerContainer {
    float: left;
    position: absolute;
    left: 50%;
}

#menuDropdown {
    float: left;
    position: relative;
    left: -50%;
    height: 2em;
    margin-top: 1.2em;
    line-height: 2em;
    font-weight: normal;
    font-size: 100%;
    color: #000;
    padding: 0 3em 0 1em;
    font-weight: normal;
    cursor: pointer;
}

.smoothButton {
    background-image: url(/Content/images/logo.png);
    box-shadow: 0 2px 6px rgba(40,20,0,.6);
    white-space: nowrap;
}

.ui-content {
}

.ui-radio .ui-btn, .ui-checkbox {
    font-weight: normal;
}

.ui-state-disabled {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    opacity: 1;
    filter: Alpha(Opacity=100);
}

.list_read * {
    font-weight: normal;
}

.tab_content {
    left: 1em;
    right: 1em;
    bottom: 0;
    height: 100%;
    position: absolute;
    display: none;
}

.title-dropdown-icon {
    position: absolute;
    top: 0.5em;
    margin-left: 0.5em;
}

.ui-header .ui-title-align-left {
    margin-left: 5.5em;
    text-align: left;
}

.ui-page-theme-a .footer-transparent {
    background-color: transparent;
    border-color: transparent;
}

    .ui-page-theme-a .footer-transparent a.ui-btn {
        margin: 0.5em;
        top: 0;
        right: 0;
    }

a[data-transition].ui-icon-star:after {
    background-color: #ff8080;
}

#intruduceImage {
    position: absolute;
    left: 1em;
    right: 1em;
    bottom: 1em;
    background: -webkit-radial-gradient( center, ellipse cover, rgba(255,255,255,0) 40%, rgba(250,250,250,1) 80% ), url(images/introduce.jpg);
}

.wrong_answer {
    color: #ff0000 !important;
    font-weight: 700 !important;
}

    .wrong_answer.extra {
        text-decoration: line-through !important;
    }

.fill_blank {
    text-decoration: underline;
}


.navicon {
    font-size: 1.5em;
}

.title {
    /*padding-top: .5em;*/
    font-size: 1.5em;
    margin-left: 0px;
}

header {
    height: 50px;
    line-height: 50px;
    text-align: center;
}

    header .title {
        font-size: 20px;
    }

    header .nav-back {
        position: absolute;
        top: 5px;
        left: 0;
        font-size: 22px;
        color: #337ab7 !important;
    }

footer .g-nav-bottom {
    display: -ms-flexbox;
    display: -moz-box;
    display: -webkit-box;
    display: box;
    padding: 0;
    margin: 0;
    text-align: center;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background: #f8f8f8;
    border-top: solid 1px #e7e7e7;
}

    footer .g-nav-bottom > li {
        -ms-flex: 1;
        display: block;
        -moz-box-flex: 1.0;
        -webkit-box-flex: 1.0;
        box-flex: 1.0;
    }

    footer .g-nav-bottom > a {
        display: block;
        width: 100%;
        height: 49px;
        line-height: 50px;
        font-size: 18px;
        font-weight: normal;
        font-family: 'Microsoft YaHei UI';
        text-decoration: none;
        color: #000000;
        background-color: #ffffff;
        /*background-color: #64A6EA;*/
    }

        footer .g-nav-bottom > a.active > i {
            background: #fff;
            font-weight: 500;
            color: #387ef5;
        }

        footer .g-nav-bottom > a.active > span {
            background: #fff;
            font-weight: bold;
            color: #387ef5;
        }

.submenu {
    background-color: darkgray;
    color: white;
    top: 0;
    left: 0;
}

    .submenu a {
        color: white;
    }

.search-container {
    padding: 10px 15px;
}

#searchclear {
    top: 0;
    height: 14px;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
    float: right;
    margin-top: -23px;
    margin-right: 5px;
}

.main {
    margin-top: 20px;
}

.withbackground {
    background: url('/Content/images/introduce.jpg');
    height: 500px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.front {
    background: white;
    -webkit-box-shadow: 0px 5px 30px 15px rgba(49, 50, 50, 0.41);
    -moz-box-shadow: 0px 5px 30px 15px rgba(49, 50, 50, 0.41);
    box-shadow: 0px 5px 30px 15px rgba(49, 50, 50, 0.41);
}

label.block {
    display: block;
}

.optioninput {
    width: 80% !important;
    display: inline !important;
    margin-right: 20px;
}

ul.options {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

    ul.options li {
        margin: 14px 0;
        font-size: 18px;
    }

.list-full-with {
    width: 100%;
    border: none;
    border-radius: 0;
}

.list-group-item {
    font-family: 'Microsoft YaHei UI', Arial, sans-serif;
    font-size: 18px !important;
    line-height: 1.5;
}

.list-group-item-heading {
    font-family: 'Microsoft YaHei UI';
    color: #222;
    font-size: 18px;
}

.list-full-with .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.list-full-with .list-group-item:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.announcement-date {
    font-size: 12px;
    margin: 10px 0;
    color: #878787;
}

.announcement-content {
    font-size: 16px;
    margin: 10px 0 30px;
    color: #222;
}

.announcement-target {
    font-size: 16px;
    margin: 10px 0 30px;
    color: #0000ff;
}


.popup {
    margin-left: -70px;
}

.es-navbar {
    background-color: #387ef5 !important;
}

    .es-navbar .title {
        font-size: 17px;
        color: #fff;
        font-weight: normal;
        font-family: 'Microsoft Yahei UI';
        transform: translate3d(0px, 0px, 0px);
    }

.announcement-item-title {
    display: block;
    font-size: 14px !important;
    color: #222;
    font-weight: 400;
}

.announcement-item-date {
    display: block;
    font-size: 14px;
    color: #878787;
}

.announcement-title {
    font-size: 16px;
    color: #222222;
    /*margin-top: 10px;*/
    display: block;
    font-weight: bold;
}

.announcement-date {
    font-size: 14px;
    color: #878787;
    margin: 0;
}

.btn.btn-primary {
    background-color: #64A6EA;
    color: #FFFFFF;
    font-family: 'Microsoft Yahei UI';
    font-size: 18px;
    border: none;
}

    .btn.btn-primary[disabled] {
        background-color: #e7e7e7 !important;
        color: #b8b8b8 !important;
        font-family: 'Microsoft Yahei UI';
        font-size: 18px;
        border: none;
    }

    .btn.btn-primary:focus {
        background-color: #64A6EA;
        color: #FFFFFF;
    }

.list-group-item-info {
    background-color: #FFFFFF !important;
}

.widget {
    font-size: 18px;
}

.audio {
    width: 100%;
}

.ionic .item-radio {
    padding: 0;
}

    .ionic .item-radio:hover {
        cursor: pointer;
    }

    .ionic .item-radio .item-content {
        /* give some room to the right for the checkmark icon */
        padding-right: 64px;
    }

    .ionic .item-radio .radio-icon {
        /* checkmark icon will be hidden by default */
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3;
        visibility: hidden;
        padding: 14px;
        height: 100%;
        font-size: 24px;
    }

    .ionic .item-radio input {
        /* hide any radio button inputs elements (the ugly circles) */
        position: absolute;
        left: -9999px;
    }

        .ionic .item-radio input:checked + .radio-content .item-content {
            /* style the item content when its checked */
            background: #f7f7f7;
        }

        .ionic .item-radio input:checked + .radio-content .radio-icon {
            /* show the checkmark icon when its checked */
            visibility: visible;
        }
