<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://eclasso2o.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>eclasso2o.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>eclasso2o</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$eclasso2o</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="PureAPI.AuthContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:h4lstdxgtv.database.windows.net,1433;Initial Catalog=eclasso2o;Integrated Security=False;User ID=chtown@h4lstdxgtv;Password=azPassw0rd;Connect Timeout=30;Encrypt=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="PureAPI.AuthContext, PureAPI" MigrationConfiguration="PureAPI.Migrations.Configuration, PureAPI" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False" xmlns="">
          <Destination Path="Data Source=tcp:h4lstdxgtv.database.windows.net,1433;Initial Catalog=eclasso2o;Integrated Security=False;User ID=chtown@h4lstdxgtv;Password=azPassw0rd;Connect Timeout=30;Encrypt=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:h4lstdxgtv.database.windows.net,1433;Initial Catalog=eclasso2o;Integrated Security=False;User ID=chtown@h4lstdxgtv;Password=azPassw0rd;Connect Timeout=30;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:h4lstdxgtv.database.windows.net,1433;Initial Catalog=eclasso2o;Integrated Security=False;User ID=chtown@h4lstdxgtv;Password=azPassw0rd;Connect Timeout=30;Encrypt=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="source" Order="4" Enabled="False" xmlns="">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:h4lstdxgtv.database.windows.net,1433;Initial Catalog=eclasso2o2015;Integrated Security=False;User ID=chtown@h4lstdxgtv;Password=azPassw0rd;Connect Timeout=30;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\source_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:h4lstdxgtv.database.windows.net,1433;Initial Catalog=eclasso2o2015;Integrated Security=False;User ID=chtown@h4lstdxgtv;Password=azPassw0rd;Connect Timeout=30;Encrypt=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:h4lstdxgtv.database.windows.net,1433;Initial Catalog=eclasso2o;Integrated Security=False;User ID=chtown@h4lstdxgtv;Password=azPassw0rd;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PureAPI.AuthContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:h4lstdxgtv.database.windows.net,1433;Initial Catalog=eclasso2o;Integrated Security=False;User ID=chtown@h4lstdxgtv;Password=azPassw0rd;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="PureAPI.AuthContext" />
  </ItemGroup>
</Project>